<td class="table-cell-base">
  <a [routerLink]="['/orders', order.id]" 
     class="cell-link" 
     [attr.aria-label]="'Order ' + order.orderReference"
     tabindex="0">
  </a>
  {{ order.orderReference }}
</td>

<td class="table-cell-base text-zinc-500">
  <a [routerLink]="['/orders', order.id]" 
     class="cell-link" 
     [attr.aria-label]="'Order ' + order.orderReference"
     tabindex="-1">
  </a>
  {{ order.createdAt | date:'mediumDate' }}
</td>

<td class="table-cell-base">
  <a [routerLink]="['/orders', order.id]" 
     class="cell-link" 
     [attr.aria-label]="'Order ' + order.orderReference"
     tabindex="-1">
  </a>
  {{ order.customer.fullName }}
</td>

<td class="table-cell-base">
  <a [routerLink]="getRaffleLink()" 
     class="cell-link" 
     [attr.aria-label]="'Raffle ' + raffleDisplaySummary.title"
     tabindex="-1">
  </a>
  <app-order-raffle-preview 
    [imageUrl]="raffleDisplaySummary.imageURL"
    [eventName]="raffleDisplaySummary.title">
  </app-order-raffle-preview>
</td>

<td class="table-cell-base">
  <a [routerLink]="['/orders', order.id]" 
     class="cell-link" 
     [attr.aria-label]="'Order ' + order.orderReference"
     tabindex="-1">
  </a>
  <div [ngClass]="getStatusClass(order.status)">{{ order.status | titlecase }}</div>
</td>

<td class="table-cell-base text-right">
  <a [routerLink]="['/orders', order.id]" 
     class="cell-link" 
     [attr.aria-label]="'Order ' + order.orderReference"
     tabindex="-1">
  </a>
  {{ order.payment.total | currency:(order.payment.currencyCode || 'EUR') }}
</td>