<div>
    <div class="mb-4 flex items-center justify-between">
        <h2 class="text-lg font-semibold">Recent orders</h2>
        <a [routerLink]="['/orders/create']" [queryParams]="{ event: raffleId }">
            <button class="h-10 px-4 py-2 rounded-md bg-black text-white font-bold text-sm hover:bg-black/90">
                Create order
            </button>
        </a>
    </div>

    <div>
        <div class="grid grid-cols-4 gap-4 border-b pb-2 text-sm font-medium text-gray-500">
            <div>Order number</div>
            <div>Purchase date</div>
            <div>Customer</div>
            <div class="text-right">Amount</div>
        </div>

        <div class="divide-y">
            @for (order of orders; track order.id) {
            <a [routerLink]="['/orders', order.id]" class="grid grid-cols-4 gap-4 py-4 hover:bg-gray-50">
                <div class="font-medium">{{ order.id }}</div>
                <div>{{ order.date }}</div>
                <div>{{ order.customer }}</div>
                <div class="text-right">{{ order.amount | currency }}</div>
            </a>
            }
        </div>
    </div>
</div>