<div class="flex flex-wrap items-end justify-between gap-4 mb-12">
    <!-- Left: Title and Toolbar -->
    <div class="w-full sm:flex-1">
        <h1 class="text-2xl font-semibold text-zinc-950 sm:text-xl mb-4">Raffles</h1>

        <app-raffles-toolbar 
            class="mt-4"
            [suggestions]="suggestions"
            [isSearchLoading]="isSearchLoading"
            [noSearchResults]="noSearchResults"
            (searchChange)="onSearchChange($event)"
            (enterPressed)="onEnterPressed($event)"
            (suggestionSelected)="onSuggestionSelected($event)"
            (statusChange)="onStatusChange($event)"
            (sortChange)="onSortChange($event)">
        </app-raffles-toolbar>
    </div>

    <!-- Right: Create button -->
    <div class="w-full sm:w-auto sm:self-end sm:ml-auto">
        <a routerLink="/raffles/create">
            <button
                class="inline-flex h-10 items-center justify-center gap-2 rounded-lg bg-zinc-900 px-4 py-2.5 text-sm font-bold text-white hover:bg-zinc-800">
                Create raffle
            </button>
        </a>
    </div>
</div>