<form class="space-y-8" (ngSubmit)="onSubmit()" [formGroup]="raffleForm">
    @if (errorMessage()) {
    <div class="text-red-500 text-sm mb-4">
        {{ errorMessage() }}
    </div>
    }
    <div>
        <app-raffle-details [formGroup]="raffleForm" [fieldErrors]="fieldErrors()"></app-raffle-details>
    </div>
    <div>
        <app-raffle-tickets [formGroup]="ticketsInfoFormGroup" [fieldErrors]="fieldErrors()"></app-raffle-tickets>
    </div>
    <div>
        <app-raffle-images-upload [control]="imagesControl" [fieldErrors]="fieldErrors()"></app-raffle-images-upload>
    </div>

    <div class="flex items-center justify-end space-x-4 pt-4">
        <app-button
            variant="secondary"
            size="md"
            type="button">
            Cancel
        </app-button>
        <app-button
            variant="primary"
            size="md"
            type="submit" 
            [disabled]="isLoading()"
            [loading]="isLoading()"
            loadingText="Loading...">
            Create Raffle
        </app-button>
    </div>
</form>