<div [formGroup]="parentFormGroup" class="space-y-2">
    <label class="text-sm font-semibold leading-none p-0 peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
        for="ticketNumber">Ticket Number</label>
    <div class="flex gap-2">
        <div class="relative flex-1">
            <input formControlName="ticketNumber"
                class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                id="ticketNumber" placeholder="Enter ticket number">
        </div>
        <button
            class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg]:size-4 [&amp;_svg]:shrink-0 h-10 px-4 py-2 bg-gray-500 text-white hover:bg-gray-600"
            [disabled]="parentFormGroup.get('ticketNumber')?.invalid">Select Ticket</button>
    </div>
    @if (parentFormGroup.get('ticketNumber')?.invalid && parentFormGroup.get('ticketNumber')?.touched) {
    <div class="text-red-500 text-xs">
        @if (parentFormGroup.get('ticketNumber')?.errors?.['required']) {
        <span>Ticket number is required.</span>
        }
    </div>
    }
</div>