<div class="container mx-auto px-4 py-8">
  <app-raffles-header 
    [suggestions]="suggestions()"
    [isSearchLoading]="isSearchLoading()"
    [noSearchResults]="noSearchResults()"
    (searchChange)="onSearchChange($event)"
    (enterPressed)="onSearchEnterPressed($event)"
    (suggestionSelected)="onSuggestionSelected($event)"
    (statusChange)="onStatusChange($event)"
    (sortChange)="onSortChange($event)">
  </app-raffles-header>

  @if (errorMessage()) {
    <div class="bg-rose-100 text-rose-700 p-3 mb-6 rounded-md border border-rose-200 text-sm">
      {{ errorMessage() }}
    </div>
  }

  @if (raffleQueryService.isLoading$()) {
    <div class="flex justify-center items-center py-8">
      <div class="animate-spin rounded-full h-8 w-8 border-b-2 border-gray-900"></div>
    </div>
  } @else {
    <app-raffle-card-list 
      [raffles]="raffles()" 
      [associationId]="associationId()"
      (raffleDeleted)="onRaffleDeleted($event)">
    </app-raffle-card-list>

    @if (pagination().totalElements > pagination().pageSize) {
      <div class="flex justify-center mt-8">
        <nav class="flex items-center gap-2">
          @for (page of [].constructor(Math.ceil(pagination().totalElements / pagination().pageSize)); track page) {
            <button
              (click)="onPageChange($index)"
              [class.bg-black]="pagination().currentPage === $index"
              [class.text-white]="pagination().currentPage === $index"
              class="px-4 py-2 rounded-md border border-gray-300 hover:bg-gray-100"
            >
              {{ $index + 1 }}
            </button>
          }
        </nav>
      </div>
    }
  }
</div>