<div class="relative w-full">
    <button type="button" (click)="toggleDropdown()"
        class="flex h-10 w-full items-center justify-between rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 hover:border-slate-300 transition-colors disabled:cursor-not-allowed disabled:opacity-50"
        [disabled]="isDisabled">
        <span style="pointer-events: none;">{{ displayValue | titlecase }}</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-chevron-down h-4 w-4 opacity-50" aria-hidden="true">
            <path d="m6 9 6 6 6-6"></path>
        </svg>
    </button>

    @if (isOpen) {
    <div class="absolute top-full left-0 z-50 mt-1 min-w-full bg-white">

        <div data-side="bottom" data-align="start" role="listbox"
            class="flex flex-col relative z-50 max-h-96 min-w-[8rem] overflow-hidden rounded-md border bg-popover text-popover-foreground shadow-md"
            tabindex="-1">

            <div role="presentation" class="p-1 h-full w-full min-w-full relative flex-1 overflow-auto">

                @if (displayAllOption) {
                <div role="option"
                    tabindex="0"
                    class="relative flex w-full cursor-pointer select-none items-center rounded-sm py-1.5 pl-8 pr-2 text-sm outline-none focus:bg-slate-100 hover:bg-slate-100 hover:text-slate-800 transition-colors duration-150"
                    (click)="selectOption('ANY')">
                    <span class="absolute left-2 flex h-3.5 w-3.5 items-center justify-center">
                        @if (value === 'ANY') {
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            class="lucide lucide-check h-4 w-4 text-slate-600">
                            <path d="M20 6 9 17l-5-5"></path>
                        </svg>
                        }
                    </span>
                    <span>Any</span>
                </div>
                }

                @for (option of options; track option) {
                <div role="option" tabindex="-1" (click)="selectOption(option)"
                    class="relative flex w-full cursor-pointer select-none items-center rounded-sm py-1.5 pl-8 pr-2 text-sm outline-none hover:bg-slate-100 hover:text-slate-800 transition-colors duration-150"
                    [class.bg-slate-50]="value === option">
                    <span class="absolute left-2 flex h-3.5 w-3.5 items-center justify-center">
                        @if (value === option) {
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-check h-4 w-4 text-slate-600">
                            <path d="M20 6 9 17l-5-5"></path>
                        </svg>
                        }
                    </span>
                    <span>{{ option | titlecase }}</span>
                </div>
                }
            </div>
        </div>
    </div>
    }
</div>