<form [formGroup]="searchForm">
    <div class="space-y-4">
        <div class="space-y-2">
            <label class="text-sm font-semibold leading-none p-0 peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                for="status">Order Status</label>
            <div class="relative">
                <app-dropdown-select [options]="orderStatusOptions" placeholder="Select status" formControlName="status">
                </app-dropdown-select>
            </div>
        </div>
        <div class="space-y-2">
            <label class="text-sm font-semibold leading-none p-0 peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                for="orderSource">Order Source</label>
            <div class="relative">  
                <app-dropdown-select [options]="orderSourceOptions" placeholder="Select order source"
                    formControlName="orderSource">
                </app-dropdown-select>
            </div>
        </div>
        <div class="space-y-2">
            <label class="text-sm font-semibold leading-none p-0 peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                for="orderReference">Order Reference</label>
            <div class="relative">
            <input
                class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                id="orderReference" placeholder="Enter order reference" formControlName="orderReference">
            </div>
        </div>
    </div>
</form>