<div [formGroup]="customerInformationForm" class="space-y-4">
    <div class="flex items-center justify-between">
        <h3 class="text-lg font-semibold">Customer Information</h3>
    </div>
    <div class="shrink-0 bg-slate-200 h-[1px] w-full"></div>
    <div class="space-y-4">
        <div class="space-y-2">
            <label
                class="text-sm font-semibold leading-none p-0 peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                for="fullName">Full Name</label>
            <input formControlName="fullName"
                class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                [ngClass]="{'border-red-500': getErrorMessage('fullName')}"
                id="fullName" required>
            @if(getErrorMessage('fullName')) {
            <div class="text-red-500 text-xs">
                {{ getErrorMessage('fullName') }}
            </div>
            }
        </div>
        <div class="space-y-2">
            <label
                class="text-sm font-semibold leading-none p-0 peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                for="email">Email</label>
            <input formControlName="email"
                class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                [ngClass]="{'border-red-500': getErrorMessage('email')}"
                id="email" type="email">
            @if(getErrorMessage('email')) {
            <div class="text-red-500 text-xs">
                {{ getErrorMessage('email') }}
            </div>
            }
        </div>
        <div formGroupName="phoneNumber" class="space-y-2">
            <app-phone-number-input
                [prefixControl]="prefixControl"
                [nationalNumberControl]="nationalNumberControl"
                label="Phone Number"
                placeholder="Enter phone number"
                [required]="true"
                [showLabel]="false">
            </app-phone-number-input>
        </div>
    </div>
</div>