<div class="w-full">
    <div class="h-10 items-center justify-center rounded-md bg-muted p-1 text-muted-foreground bg-slate-100 grid w-full grid-cols-4">
        <button type="button"
            class="cursor-pointer inline-flex items-center justify-center whitespace-nowrap text-slate-500 rounded-sm px-3 py-1.5 text-sm font-semibold ring-offset-background transition-all focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
            [class.bg-white]="activeTab === 'order'"
            [class.text-slate-950]="activeTab === 'order'"
            [class.shadow-sm]="activeTab === 'order'"
            (click)="setActiveTab('order')">
            Order Info
        </button>
        <button type="button"
            class="cursor-pointer inline-flex items-center justify-center whitespace-nowrap text-slate-500 rounded-sm px-3 py-1.5 text-sm font-semibold ring-offset-background transition-all focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
            [class.bg-white]="activeTab === 'payment'"
            [class.text-slate-950]="activeTab === 'payment'"
            [class.shadow-sm]="activeTab === 'payment'"
            (click)="setActiveTab('payment')">
            Payment Info
        </button>
        <button type="button"
            class="cursor-pointer inline-flex items-center justify-center whitespace-nowrap text-slate-500 rounded-sm px-3 py-1.5 text-sm font-semibold ring-offset-background transition-all focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
            [class.bg-white]="activeTab === 'customer'"
            [class.text-slate-950]="activeTab === 'customer'"
            [class.shadow-sm]="activeTab === 'customer'"
            (click)="setActiveTab('customer')">
            Customer
        </button>
        <button type="button"
            class="cursor-pointer inline-flex items-center justify-center whitespace-nowrap text-slate-500 rounded-sm px-3 py-1.5 text-sm font-semibold ring-offset-background transition-all focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
            [class.bg-white]="activeTab === 'dates'"
            [class.text-slate-950]="activeTab === 'dates'"
            [class.shadow-sm]="activeTab === 'dates'"
            (click)="setActiveTab('dates')">
            Dates
        </button>
    </div>

    <div [hidden]="activeTab !== 'order'"
        class="mt-2 ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 space-y-4 pt-4">
        <app-orders-search-order-info
            [criteria]="criteria"
            [fieldErrors]="fieldErrors"
            (criteriaChange)="onOrderInfoCriteriaChange($event)"></app-orders-search-order-info>
    </div>

    <div [hidden]="activeTab !== 'payment'"
        class="mt-2 ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 space-y-4 pt-4">
        <app-orders-search-payment-info
            [criteria]="criteria"
            [fieldErrors]="fieldErrors"
            (criteriaChange)="onPaymentInfoCriteriaChange($event)"></app-orders-search-payment-info>
    </div>

    <div [hidden]="activeTab !== 'customer'"
        class="mt-2 ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 space-y-4 pt-4">
        <app-orders-search-customer 
            [criteria]="criteria"
            [fieldErrors]="fieldErrors"
            (criteriaChange)="onCustomerCriteriaChange($event)"></app-orders-search-customer>
    </div>

    <div [hidden]="activeTab !== 'dates'"
        class="mt-2 ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 space-y-4 pt-4">
        <app-orders-search-dates
            [criteria]="criteria"
            [fieldErrors]="fieldErrors"
            (criteriaChange)="onDatesCriteriaChange($event)"></app-orders-search-dates>
    </div>
</div>