<div class="flex flex-col gap-3">
    <div class="relative w-full aspect-square overflow-hidden rounded-lg shadow-sm">
        <img [src]="images[0].url" alt="Main image" class="object-cover absolute inset-0 w-full h-full" />
    </div>
    <div class="flex gap-2 overflow-x-auto pb-1">
        @for (image of images; track image) {
        <button class="relative w-16 h-16 flex-shrink-0 overflow-hidden rounded-md ring-1 ring-gray-200"
            aria-label="Select image">
            <img [src]="image.url" class="object-cover absolute inset-0 w-full h-full" />
        </button>
        }
    </div>
</div>