<form [formGroup]="orderForm" class="space-y-8">
    <div class="w-full">
        <app-ticket-selection [ticketSelectionForm]="ticketSelectionGroup"></app-ticket-selection>
    </div>
    <div class="w-full">
        <app-customer-information [customerInformationForm]="customerInformationGroup"></app-customer-information>
    </div>
    <div class="w-full">
        <app-additional-information
            [additionalInformationForm]="additionalInformationGroup"></app-additional-information>
    </div>
    <div class="flex justify-end space-x-4 pt-4">
        <button type="button"
            class="px-4 py-2 text-sm font-medium text-gray-700 bg-gray-100 rounded-md hover:bg-gray-200">
            Cancel
        </button>
        <button type="submit"
            class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 px-4 py-2 bg-black text-white hover:bg-black/90"
            [disabled]="orderForm.invalid">
            Create Order
        </button>
    </div>
</form>