<div class="container mx-auto max-w-6xl p-4 space-y-8">
  <div>
    <app-orders-toolbar (searchClick)="openSearchDialog()"></app-orders-toolbar>
  </div>

  @if (isLoading()) {
  <div class="flex items-center justify-center">
    <div class="animate-spin rounded-full h-8 w-8 border-b-2 border-zinc-900"></div>
  </div>
  } @else if (error()) {
  <div class="bg-red-50 border border-red-200 text-red-700 px-4 py-2 rounded-md">
    <p>{{ error() }}</p>
  </div>
  } @else if (orders().length === 0) {
  <div class="text-center py-8 text-gray-500">
    <svg class="mx-auto h-12 w-12 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
    </svg>
    <h3 class="mt-2 text-sm font-medium text-gray-900">No orders yet</h3>
  </div>
  } @else {
  <div>
    <app-orders-table [orders]="orders()" (pageChange)="onPageChange($event)">
    </app-orders-table>
  </div>
  @if (pagination().totalPages > 1) {
  <div class="flex justify-between items-center">
    <div class="text-sm text-slate-500">
      Showing {{ pagination().currentPage * pagination().pageSize + 1 }}-{{
      min((pagination().currentPage + 1) * pagination().pageSize, pagination().totalElements)
      }} of {{ pagination().totalElements }} orders
    </div>

    <div class="flex space-x-2">
      <button [disabled]="pagination().currentPage === 0" (click)="onPageChange(pagination().currentPage - 1)"
        class="px-3 py-1 rounded border hover:bg-slate-50 disabled:opacity-50 disabled:pointer-events-none">
        Previous
      </button>
      <button [disabled]="pagination().currentPage === pagination().totalPages - 1"
        (click)="onPageChange(pagination().currentPage + 1)"
        class="px-3 py-1 rounded border hover:bg-slate-50 disabled:opacity-50 disabled:pointer-events-none">
        Next
      </button>
    </div>
  </div>
  }
  }

  <app-orders-search-dialog [isOpen]="isSearchDialogOpen()" (closeDialog)="closeSearchDialog()"
    (searchResults)="handleSearchResults($event)">
  </app-orders-search-dialog>
</div>