<div class="mb-6 flex items-center justify-between">
    <h1 class="text-2xl font-semibold">Orders</h1>
    <div class="flex flex-row gap-3">
        <button
            class="justify-center whitespace-nowrap ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-background hover:bg-slate-100 hover:text-slate-950 h-10 flex items-center gap-2 rounded-lg border border-zinc-200 text-sm font-semibold px-4 py-2 relative"
            (click)="onSearchClick()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-search h-4 w-4">
                <circle cx="11" cy="11" r="8"></circle>
                <path d="m21 21-4.3-4.3"></path>
            </svg>
            Search Orders
        </button>
        <a routerLink="/orders/create">
            <button
                class="inline-flex items-center justify-center gap-2 ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-slate-100 h-10 whitespace-nowrap rounded-lg border border-transparent bg-zinc-900 text-white text-sm font-semibold px-4 py-2 relative hover:bg-slate-800">
                Create order
            </button>
        </a>
    </div>
</div>
