<div class="mx-auto max-w-3xl space-y-4">
    <div>
        <app-back-link routePath="/orders" label="Back to orders" />
    </div>
    <div class="space-y-4">
        <div class="flex flex-col space-y-2 p-4">
            <h3 class="font-semibold tracking-tight text-2xl">Create new order</h3>
            <p class="text-sm text-slate-500">
                Fill in the details to create a new order.
            </p>
        </div>
        <div class="p-6 pt-0">
            <app-order-form />
        </div>
    </div>
</div>